        body {
            background-color: grey !important;
        }
        
        .list-table {
            border-collapse: separate;
            border-spacing: 0 12px;
        }
        
        #btn_add {
            width: 130px;
            height: 50px;
            font-weight: 700;
            border-radius: 15px;
        }
        
        #btn_delete {
            width: 130px;
            height: 50px;
            font-weight: 700;
            border-radius: 15px;
            position: relative;
            left: 80px;
        }